---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | György Balássy" description="About György Balássy">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/speak.jpg"
					alt="György Balássy speaking at a conference"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Currently</h2>
				<div class="content">
					<p>
						Currently I am working as a Principal Engineer and Architect on the LastPass password manager platform. As an architect my job is to help and guide teams to find long-term, maintainable solutions that fit into our technology strategy. 
					</p>
					<p>
            Before joining LastPass I was as an Engineering Manager on GoTo's (formerly LogMeIn’s) cloud-hosted VoIP phone system and unified communications SaaS offering, being responsible for people, process and product. Previously I was working as a Principal Engineer on the company’s AI enabled chatbot powered customer engagement service, which was later acquired by Genesys, and on the next generation Internet of Things (IoT) cloud platform, which was later acquired by Google.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Community</h2>
				<div class="content">
          <p>
            I really enjoy teaching and sharing knowledge with the community. 
            I was lucky to be a founding member of the local MSDN Competence Center team that introduced and evangelized Microsoft .NET in Hungary since the platform was born. 
            I co-authored books, presented in many conferences and community events, and consulted companies to help their first steps in the new platform.
          </p>
					<p>
            For my community activities and technical expertise I was awarded with the Most Valuable Professional (MVP) award by Microsoft between 2004 and 2022, was selected to be the member of the ASPInsiders group, and I had been the Microsoft Regional Director in Hungary between 2005 and 2015.
          </p>
          <p>
            I am the organizer and the host of the monthly Enterprise Developer Meetup for software developers in Hungary.
          </p>
				</div>
			</section>
      <section>
				<h2 class="section-title">I work with people. I work with code.</h2>
				<div class="content">
					<p>I enjoy getting my hands dirty and create something out of nothing. I'm an engineer, so I find pleasure in solving complex problems or understanding the technical details of a solution even if I was not the one who implemented it.</p>
          <p>But I feel even better, when I do that as part of a team. Team spirit, motivation and empowerment is key for my environment.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">I listen a lot. And ask a lot.</h2>
				<div class="content">
					<p>I had the fortune to work with many smart people and learned to value other people's thoughts, opinions and emotions. This is the reason why you will often see me as the last person talking in the room.</p>
          <p>On the other hand, I'm not afraid to ask questions to get information, learn or understand how a solution works, and more importantly, why it was implemented that way.</p>
				</div>
			</section>      
			<section>
				<h2 class="section-title">Things I believe in</h2>
				<div class="content">
          <p>
            These things are important to me (not in priority order):
          </p>
					<ul>
            <li>Psychological safety</li>
            <li>People and team spirit</li>
            <li>Empowered team</li>
            <li>Bottom-up management style</li>
            <li>Customer-feedback and data driven agile development</li>
            <li>Servant leadership</li>
            <li>Innovation</li>
            <li>Quality work pays off</li>
            <li>Maintainable code</li>
            <li>Performant architecture rather than microtuning</li>
            <li>Positive feedback and feed forward</li>
            <li>Family time</li>
            <li>Your opinion</li>
          </ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.05em;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

  .content p {
    margin-bottom: 1rem;
  }

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
