---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Creating valuable software</h2>
		<p>I'm a software architect with horizontal full-stack mindset focusing on delivering customer value.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="team" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Leading people and building teams</h2>
		<p>I'm a human-focused and team-centric leader who enjoys understanding the technical details as well.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="experiment" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Experimenting, learning and sharing</h2>
		<p>I'm a continuous learner who believes in learning organizations and trying out new processes and tools in a psychologically safe environment.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
